snippet <s
        #+begin_src ${1:lang}
        $2
        #+end_src
        $0

snippet <e
        #+begin_example
        $1
        #+end_example
        $0

snippet <q
        #+begin_quote
        $1
        #+end_quote
        $0

snippet <c
        #+begin_center
        $1
        #+end_center
        $0
