snippet bold
        \textbf{${1:bold}}$0

snippet -
        \item{$1}$0

snippet list
        \begin{itemize}
            $0
        \end{itemize}

snippet nlist
        \begin{enumerate}
            $0
        \end{enumerate}

snippet section
        \section{$1}$0
